/** General page styles **/
.cartContainer {
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  max-width: 500px;
  display: flex;
  width: 100%;
  position: relative;
  margin-top: 1rem;
}

/** Cart header section **/
.cartTitle {
  width: 100%;
}
.cartContainer h2 {
  letter-spacing: 0.05rem;
  padding: 2rem;
}

/** Cart collection section **/
.cartCollection {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

/** Total section **/
#line {
  height: 1px;
  background-color: black;
  width: 100%;
  margin-top: 0.3rem;
}
.totalSection {
  margin-top: 1rem;
  width: 100%;
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 20px rgba(200, 210, 210, 0.583);
  border-radius: 2rem;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#totalTitle {
  text-align: left;
}

#totalCost {
  text-align: right;
}

#total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/** Checkout button **/
.checkoutBtnContainer h3 {
  color: rgb(212, 80, 80);
}

.checkoutBtn {
  cursor: pointer;
  border-radius: 2rem;
  margin-top: 1rem;
  width: 8rem;
  height: 2.5rem;
  padding: 0.15rem;
  background-color: #355a8f;
  color: #f9f9f9;
  font-weight: 800;
  font-size: 1.2rem;
}

.checkoutBtn:hover {
  background-color: #4e75ac;
}
